:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
}
  
  body {
	font-family: "Play", sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-variant: small-caps;
	line-height: 1.6; /* Sets the line-height to 1.6 */
  }
  
  h1 {
	font-size: 30px;
	font-weight: 700;
  }
  