:root {
  font-family: "Press Start 2P", cursive;
  font-family: "pokemon-font", cursive;

}
body {
  background-color: rgb(24, 0, 245);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%; 
  background-attachment: fixed;
  color: rgb(255, 0, 0);
  
}
h1 {
  font-size: 75px;
  font-weight: 450;
  text-transform: uppercase;
  color: rgb(255, 251, 0);
  font-family: "Press Start 2P", cursive;
  text-align: center;
}
h2 {
  font-size: 15px;
  font-weight: 450;
  text-transform: uppercase;
  color: rgb(255, 251, 0);
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.list-group {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-flow: row wrap;
}
.navbar-brand {
  justify-content: center;
  align-items: center;
  display: flex;
}
.list-group-item {
  list-style-type: none;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.list-group-item button {
  text-transform: capitalize;
  font-size: 1.5rem;
  border: 5px solid rgb(96, 111, 245);
  width: 250px;
  padding: 0;
  padding-left: 10px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar {
  background-color: rgb(163, 211, 255);
  color: rgb(255, 0, 0);
  border: 5px solid rgb(255, 0, 0);
  border-radius: 10px;
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
  width: 100px;
  height: auto;
  margin: 10px;
  background-color: transparent;
}

.btn-primary {
  background-color: rgb(160, 7, 7);
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-transform: capitalize;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-family: "pokemon-font", cursive;
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.2);
  
}
.btn-secondary {
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-transform: capitalize;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-family: "pokemon-font", cursive;
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(132, 0, 255);
  border-color: rgba(0, 0, 0, 0);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(255, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.modal {
  background-color: rgba(87, 22, 22, 0.265);
  color: rgb(255, 0, 0);
  border: 5px solid rgb(255, 0, 0);
  border-radius: 10px;
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.2);

}
.modal-header {
  background-color: rgb(163, 211, 255);
  font-family: "Press Start 2P", cursive;
  font-family: "pokemon-font", cursive;
  color: rgb(255, 255, 255);
  
  border-bottom: none;
}
.modal-content {
  background-color: rgb(163, 211, 255);
}

.modal-title {
  font-size: 3rem;
  text-transform: capitalize;
  color: rgb(54, 0, 248);
  text-align: center;
  margin: 10px;
  font-family: "Press Start 2P", cursive;
  font-family: "pokemon-font", cursive;

}

.modal-body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.modal-items {
font-family: "Press Start 2P", cursive;
  width: 200px;
  height: auto;
  margin-top: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(255, 46, 46);
  text-align: center;
  text-transform: capitalize;
}

/* //rotating */

.card:hover {
  transform: rotateY(0.5turn);
}

.card {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 10px;
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.2);
}
.card-side {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}
.card-side--back {
  transform: rotateY(0.5turn);
}

.card-side > img {
  object-fit: cover;
}
