.pokebutton {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #3355c5;
  border: 5px solid #000000;   
  border-radius: 50%;
  overflow: hidden;
  animation: pulse 1s infinite;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin: 5;
  padding: 15px;
  text-align: center;
   
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pokeButton:hover {
    cursor: pointer;
    opacity: 0.8;
}
.pokemon-list {
    list-style-type: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000cc
    
   /* make sure the modal is on top of other elements*/;
    z-index: 999; 
    
    /* enable scrolling if the content is long*/
    overflow: auto; 

    /* center the modal content */
    display: block;
    text-align: center;
}

  .modal {
    margin: auto;
    border-radius: 30px;
    display: inline-block;
    box-sizing: border-box;
    background: #2992bb;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    text-align: center;
  }
  
  .modal-close {
    float: right;
    border: 0;
    background: none;
    color: #4e50d8;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

  }

  .modal h1 {
    margin-top: 0;
  }
  
  #modal p {
    margin-bottom: 0;
  }